* {box-sizing:border-box;}


body {
 font-family: 'Oxygen', sans-serif;
   font-size: 16px;
    font-weight:300;
    margin: 0;
    line-height: normal;
   
}

/* Heading tingz here*/

header { 
   padding: 1rem 2vw; 
      display: flex;
     align-items :flex-end;
}
header h1 {
   margin: 0;
    color: #881c09;
  
}

header p {
   margin: 0 2.8px;
    color: #23245c;
    letter-spacing: .5px;
}

header div {
    padding-left: 2vw;
}
/* small screens layout */

@media only screen and (max-width: 800px) {
    nav ul{
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
        
   
    }
    
    nav a {
        display: block;
        padding: .8rem;
        text-decoration: none;
        font-weight: 700;
        text-transform:uppercase;
        text-align: center;
       border-radius: 30px;
        margin-bottom: 8px;
        color: #23245c;
        border: solid 1px #23245c;
    }
    
    
    nav .active a{
        background-color: #23245c;
        background-image:linear-gradient( to bottom, #23245c, #3d3f9d);
        color: white;
        
    }
    
 
    
} /*End of media query*/

/* big screens layout*/
@media only screen and (min-width: 801px) {
  nav {
    border-top: solid 1px #E0E6E6;
    
}
nav ul {
    margin: 0;
    padding: 0 2vw;
    list-style-type: none;
    display: flex;

}
nav a {
    display: block;
    padding: 1.2rem 1rem .3rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: #23245c;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid 2px #fff;
   
}

nav .active a {
    border-bottom: solid 3px #881c09;
}
nav a:hover {
    color: #881c09;
}

} /*end of the media query*/



/* Main tingz here */
main {
  padding: 1rem 2vw;  
    
}

main h1 {
  color: #881c09;  
    
}
main h2 {
  color: #23245c;  
    margin-bottom: .2rem
}
main p {
  color: #000;  
    margin: 0 0 .3rem 0;
}



main a {
  color: #23245c;  
    
}
main a:hover {
  color:#881c09;  
    
}

figure.homeimage {
    width: 30%;
    margin: 0  0 0 2%;
    float: right;
    border: 2px solid #23245c;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    border-radius: 10px;
}

figure.homeimage  img {
    width: 100%;
    height:auto;
    padding: 1vw;
}
figure.homeimage figcaption{
    text-align: center;
    font-size: .75rem;
   margin-bottom: 8px;
}


/*div stuff here*/
div.package{
    border: 2px solid #000;
    overflow: hidden;
   display: block;
    margin-left: 1px;
width: 100%;
    border-radius: 10px; 
    margin-right: 1px;
    padding: .50rem;
}


div.package img{
   float:left;
    padding: .25rem;
    margin-bottom: 2rem;
   margin-left: .8rem;
    margin-right: .8rem;
 box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
   
    
}


div.package h2{
    padding: .25rem;
     margin-left: .5rem;
}

div.package p {
    margin: auto;
  
}



div.gallery{
    display: flex;
    flex-wrap: wrap;
 
   
}

div.gallery figure {
    
           flex-basis: 50%;
        margin: .5rem 0;
    padding: .5rem;
     border: 2px solid #23245c;
border-radius: 10px;
}


div.gallery figcaption{
    text-align: center;
    font-size:.8rem;
    display: block;
        font-weight: 300;
}



div.gallery img {
        width: 98%;
        height: auto;
    padding: inherit;
    
  
}



 div.gallery figure:hover {
     box-shadow: 0px 0px 10px rgba(0,0,0,0.5); 
     
}


div.thankyoupage{
text-align: center;
    border: 2px solid #23245c;
    border-radius: 10px;
    padding: 5vw;
}

/*form thingz here*/

.form fieldset {
    border: 2px solid #000;
    border-radius: 10px;
    margin-bottom: 1rem;
    
    
}

.form legend{
    color: #23245c;
    font-size: .9rem;
    font-weight: 700;
}

.form label {
   margin: .5rem;
    
    
}
.form label,.form select, .form [type=text] , .form [type=tel], .form textarea, .form [type=email] {
    
    display: block;
}

.form [type=text], .form [type=tel], .form select, .form textarea, .form [type=email]{
    
    border: solid 1px #23245c;
    padding: .3rem;
    width: 250px;
    border-radius: .5rem;
    font-weight:300;
}

.form textarea {
    height: 16rem;
    width: 100%;
    border: 2px solid #000;
    
}
.form :required {
    background-color: rgba(156,51,53,0.2);
    
}

.form [type=submit] {
    background-color: #23245c;
        background-image:linear-gradient( to bottom, #23245c, #3d3f9d);
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
    font-weight: 700;
}


/*footer thingz here*/
footer{
    text-align: center;
    color: #000;
    padding: 1rem 0;
    font-size: .8rem;
    clear:both;
}

footer a {
     color:#23245c;
}

footer a:hover {
     color:#881c09;
}
 header,nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}